body {
  background-color: #123;
}

.win {
  color: #fff;
}

.board {
  color: #fff;
}

.card {
  position: relative;
  width: 200px;
  color: #fff;
  border: 1px solid white;
}

.card:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card.blue {
  background: blue;
}

.card.red {
  background: red;
}

.card.flipped {
  background: grey;
}

.card.won {
  background: yellow;

}
